{% extends 'Service Provider/index.html' %}
{% load static %}
{% block body %}
    <head>
        <title>update ongoing services</title>
    </head>
    <body>
        <center><form action="">
            <table>
                <tr>
                    <td>Status:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td colspan="2"><center><button>Update</button></center></td>
        </table>
    </form></center>
    </body>
{% endblock %}