{% extends 'Flat Owner/index.html' %}
{% block body %}
<body>
        <center><form action="">
            <table>
                <tr>
                    <td>Service Provider:</td>
                    <td>
                        <select name="" id="">
                            <option value="">Select</option>
                        </select>
                    </td>                 
                </tr>
                <tr>
                    <td colspan="2"><center><button>Assign</button></center></td>
                </tr>
        </table>
    </form></center>
    </body>
{% endblock %}