{% extends 'Flat Owner/index.html' %}
{% block body %}
    <body>
        <center>
            <form action="">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td colspan="2"><center><button>Login</button><a href="file:///C:/Users/muham/PROJECT/Flat%20Owner/registration%20flat%20owner.html">Register</a></center></td>
                </tr>
            </table>
            </form>
        </center>
    </body>
{% endblock %}