{% extends 'Flat Owner/index.html' %}
{% block body %}
<body>
        <center><form action="">
            <table border="2">
                <tr>
                    <td>Sl No</td>
                    <td>Flat Occupant</td>
                    <td>Month</td>
                    <td>Status</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="">Notify</a>
                    </td>
                </tr>
        </table>
    </form></center>
    </body>
{% endblock %}